<p>
  <strong>Table</strong>
  <%= reservation.table_num %>
</p>
 
<p>
  <strong>Num. of People</strong>
  <%= reservation.num_people %>
</p>

<p>
  <strong>Reserv. Code</strong>
  <%= reservation.reserv_code %>
</p>

<p>
  <strong>Time</strong>
  <%= reservation.date %>
</p>